body > .header .logo {
    font-family: "Miller Display SC", serif;
    font-size: 30px;
}
.skin-blue .logo {
    background-color: #339933;
}
.skin-blue .logo:hover {
    background: #114411;
}
.skin-blue .navbar {
    background-color: #339933;
}
.small-box {
    margin-bottom: 0px;
}
.small-box p {
    margin: 0 0 0 0;
}
.bg-highlight {
    background-color: #f9f9f9;
}
.bg-highlight:hover {
    background-color: #339933;
}
.small-box > .small-box-footer {
    background: rgba(100, 100, 100, .6);
}
.small-box > .small-box-footer:hover {
    background: rgba(100, 100, 100, .6);
}
.sidebar {
    width: auto;
    height: auto;
}
.table-bordered-out {
    border: 1px solid;
    border-color: #aaa;
}
.grid-view {
    margin-top: 10px;
    margin-bottom: 30px;
    display: inline-block;
    background-color: #fff;
}
.grid-element {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.table-bordered-out > td {
    border: 1px inset;
}
.table thead {
    background-color: #ccc;
}
.table,
.table th {
    text-align: center;
}
.table {
    margin-top: 10px;
}
.table > tbody > tr > td {
    background-color: #fff;
}
.center {
    display: block;
    width: 70%;
}
.list-view {
    padding-left: 0px;
    padding-right: 0px;
}
.btn-addplant,
.btn-viewmore {
    font-weight: 700;
    font-size: 18px;
    padding: 30px;
}
.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    color: #fff;
    background-color: #339933;
    cursor: pointer;
}
.table-hover>tbody>tr:hover>td>.fa-hidden {
    color: #ccc;
}
.table-hover>tbody>tr:hover>td>.fa-hidden:hover {
    color: #fff;
}
.plantinput tr td {
    width: auto;
    padding: 5px 5px;
}
.table-header:first-child {
    font-size: 24px;
    padding-right: 20px;
}
.fa-hidden {
    visibility: hidden;
}